body {
    background-color: linen;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.admin-h1 {
    font-size: 30px;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}

.text-center {
    text-align: center;
}

.menu {
    text-align: center;
    border-bottom: solid 1px black;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.main-content {
    margin: 1% 0;
    background-color: azure;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.clearfix {
    float: none;
    clear: both;
}

.tbl-30 {
    width: 30%;
}

.tbl-full {
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.btn-primary {
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: #3742fa;
}

.btn-secondary {
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}

.btn-secondary:hover {
    background-color: #2ed573;
}

.btn-danger {
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
}

.btn-danger:hover {
    background-color: #ff4757;
}

.col-4 {
    width: 18%;
    background-color: darkkhaki;
    margin: 1%;
    padding: 2%;
    float: left;
}

.footer {
    background-color: aquamarine;
    color: red;
}

.login {
    border: 1px solid #1e90ff;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}