
body{
    background-color: linen;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper{
    padding:1%;
    width:80%;
    margin: 0 auto;
}

.text-center{
    text-align:center;
}
.menu{
    text-align: center;
    border-bottom: solid 1px black ;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.main-content{
    margin: 1% 0;
    background-color: azure;

}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.clearfix{
    float:none;
    clear:both;
}
.col-4{
    width: 18%;
    background-color: darkkhaki;
    margin: 1%;
    padding: 2%;

    float: left;
}























.footer{
    background-color: aquamarine;
    color:red;
}